@import "tailwindcss";
#root{
    height: 100%;
    width: 100%;
}
#nprogress .bar {
    background: red;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red;
}

#nprogress .spinner-icon {
    border-top-color: red;
    border-left-color: red;
}
